test0.mat
test1.mat
test2.mat
test3.mat
test4.mat
test5.mat
test6.mat
test7.mat
test8.mat
test9.mat
digit0.mat
digit1.mat
digit2.mat
digit3.mat
digit4.mat
digit5.mat
digit6.mat
digit7.mat
digit8.mat
digit9.mat
mnistdeepauto_test_batchdata.mat
mnistdeepauto_test_vh.mat
